<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <form action="regStu" method="post">
        <div>
            학번 <input type="text" name="stuNo">
        </div>
        <div>
            이름  <input type="text" name="stuName" required>
        </div>
        <div>
            국어점수 <input type="text" name="korScore">
        </div>
        <div>
            영어점수  <input type="text" name="engScore">
        </div>
        <div>
            학생소개 
            <textarea name="intro" cols="30" rows="10"></textarea>
        </div>
        <div>
            <input type="submit" value="등록완료">
        </div>
    </form>
</body>
</html>