@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;

}

.pointer-span:hover{
    cursor: pointer;
}
