<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/content/admin/update_item.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <input type="hidden" th:value="${updateItemCode}" id="updateItemCode">
    <div class="row">
        <div class="col-6 scrollbar"  style="padding-right: 0px;">
            <div class="row mb-3">
                <div class="col">
                    <h5>상품 목록</h5>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col text-end">
                    <span style="color: red;font-style: italic;">* 총 [[${#lists.size(items)}]]개의 상품이 등록되어 있습니다.</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-hover text-center align-middle">
                        <colgroup>
                            <col width="5%">
                            <col width="15%">
                            <col width="35%">
                            <col width="15%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                            <tr class="table-primary ">
                                <td>No</td>
                                <td>상품코드</td>
                                <td>상품명</td>
                                <td>재고</td>
                                <td>상태</td>
                            </tr>
                        </thead>
                        <tbody th:each="item, state : ${items}" >
                            <tr class="pointer-span" th:onclick="showDetailInfo([[${item.itemCode}]])" >
                                <td>[[${#lists.size(items) - state.index}]]</td>
                                <td>[[${item.itemCode}]]</td>
                                <td>[[${item.itemName}]]</td>
                                <td>[[${item.itemStock}]]</td>
                                <td>[[${item.strStatus}]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        <div class="col-6">
            <div class="row mt-2">
                <div class="col make-spot-div">


                </div>
            </div>
            

        </div>
        
    </div>



      <!-- Modal -->
  <div class="modal fade modal-lg" id="img-detail-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">냠</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body">
          <div class="row">
            <div class="col">
                <div class="row" >
                    <div class="col text-center" id="table-head">
                        <img class="text-center" width="60%" src="">
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</th:block>

<th:block layout:fragment="content_js">
     <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/admin/update_item.js"></script>
</th:block>
</html>