<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    <h3>Fetch를 통한 JavaScript 데이터를 controller에서 받기</h3>
    <div>
        <h5>vo객체로 데이터 전달받기</h5>
        <input type="button" value="getData1" onclick="fetch1()">
    </div>
    <div>
        <h5>Map으로 데이터 전달받기</h5>
        <input type="button" value="getData2" onclick="fetch2()">
    </div>
    <div>
        <h5>객체를 배열에 담은 데이터를 List로 전달받기</h5>
        <input type="button" value="getData3" onclick="fetch3()">
    </div>
    <div>
        <h5>복잡한 데이터를 Map으로 전달받기</h5>
        <input type="button" value="getData4" onclick="fetch4()">
    </div>
    <script src="/js/test/test/fetch.js"></script>
</body>
</html>